  <div class="page-header">
    <h1>陣営登録</h1>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <form action="/factions" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="name" name="name" required />
                <label for="name">名前</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <div class="file-input-wrapper">
                  <input type="file" name="icon" accept="image/*" onchange="imageResizer.handleImageUpload(this, 'icon')" />
                  <label for="icon" class="file-input-label">
                    <i class="material-icons">cloud_upload</i>
                    <span>アイコンを選択</span>
                  </label>
                </div>
                <img id="iconImg" class="preview-image" style="display: none;" />
                <div id="icon-preview" class="image-preview"></div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 text-center">
                <button type="submit" class="btn-large waves-effect waves-light blue">
                  <i class="material-icons left">save</i>保存
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <p><a href="/factions">一覧に戻る</a></p> 