<div class="page-header">
  <h1>ダッシュボード</h1>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <h5 class="blue-text">管理メニュー</h5>
        </div>
        
        <div class="row">
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">person</i>
                  キャラクター
                </span>
                <p>キャラクターの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/characters" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">flash_on</i>
                  スキル
                </span>
                <p>スキルの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/skills" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">whatshot</i>
                  スキル効果
                </span>
                <p>スキル効果の登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/skill-effects" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">psychology</i>
                  個性スキル
                </span>
                <p>個性スキルの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/personality-skills" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">admin_panel_settings</i>
                  管理者
                </span>
                <p>管理者アカウントの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/admin-users" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <h5 class="blue-text">設定</h5>
        </div>
        
        <div class="row">
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">star</i>
                  レアリティ
                </span>
                <p>レアリティの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/rarities" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">directions_run</i>
                  ロール
                </span>
                <p>ロールの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/roles" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">flag</i>
                  陣営
                </span>
                <p>陣営の登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/factions" class="blue-text">管理する</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 