<div class="page-header">
  <h1>ダッシュボード</h1>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <h5 class="blue-text">基本情報</h5>
        </div>
        
        <div class="row">
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">person</i>
                  キャラ
                </span>
                <p>キャラの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/characters" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/characters/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">security</i>
                  装備
                </span>
                <p>装備の登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/equipment" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/equipment/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">star</i>
                  レアリティ
                </span>
                <p>レアリティの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/rarities" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/rarities/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">verified_user</i>
                  ロール
                </span>
                <p>ロールの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/roles" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/roles/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">flag</i>
                  陣営
                </span>
                <p>陣営の登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/factions" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/factions/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <h5 class="blue-text">スキル管理</h5>
        </div>
        
        <div class="row">
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">flash_on</i>
                  スキル
                </span>
                <p>スキルの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/skills" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/skills/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">psychology</i>
                  個性スキル
                </span>
                <p>個性スキルの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/personality-skills" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/personality-skills/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">star_border</i>
                  EXスキル
                </span>
                <p>EXスキルの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/ex-skills" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/ex-skills/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">whatshot</i>
                  スキル効果
                </span>
                <p>スキル効果の登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/skill-effects" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/skill-effects/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <h5 class="blue-text">設定</h5>
        </div>
        
        <div class="row">
          <div class="col s12 m6 l4">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons blue-text">admin_panel_settings</i>
                  管理者
                </span>
                <p>管理者アカウントの登録・編集・削除を行います。</p>
                <div class="card-action">
                  <a href="/admin-users" class="btn-small waves-effect waves-light blue">一覧へ</a>
                  <a href="/admin-users/new" class="btn-small waves-effect waves-light green" style="margin-left: 10px;">登録</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 