  <div class="page-header">
    <h1>ロール登録</h1>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <form action="/roles" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col s6">
                <div class="input-field">
                  <input type="text" id="name" name="name" required>
                  <label for="name">名前 *</label>
                </div>
                <div class="input-field">
                  <input type="number" id="movementPower" name="movementPower" min="1" max="10">
                  <label for="movementPower">移動力（1-10）（任意）</label>
                </div>
                <div class="input-field">
                  <input type="number" id="jumpHigh" name="jumpHigh" min="1" max="10">
                  <label for="jumpHigh">ジャンプ高（1-10）（任意）</label>
                </div>
                <div class="input-field">
                  <input type="number" id="jumpLow" name="jumpLow" min="1" max="10">
                  <label for="jumpLow">ジャンプ低（1-10）（任意）</label>
                </div>
                <div class="input-field">
                  <select name="terrainSuitability">
                    <option value="">未選択</option>
                    <option value="通常">通常</option>
                  </select>
                  <label>地形適正（任意）</label>
                </div>
              </div>
              <div class="col s6">
                <div class="input-field">
                  <input type="text" id="icon" name="icon">
                  <label for="icon">アイコン（任意）</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 text-center">
                <button type="submit" class="btn-large waves-effect waves-light blue">
                  <i class="material-icons left">save</i>登録
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- 固定配置の戻るボタン -->
<a href="/roles" class="btn-floating fab-back waves-effect waves-light grey">
  <i class="material-icons">arrow_back</i>
</a> 